.header{
    width: 100%;
    height: auto;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f0f0f;
}
.search_bar input{
    height: 34px;
    padding: 8px 15px;
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.search_bar button{
    position: relative;
    top: 2px;
    padding: 7.5px 12px;
    width: 60px;
    height: 32px;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.header button img{
    width: 15px;
    height: auto;
}
.user img{
    width: 50px;
    padding: 5px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
} 