.background{
    width: 100%;
    height: 350px;
    background-image: url('https://images7.alphacoders.com/122/1228014.png');
    background-size: cover;
    background-position: center;
}
/* ../../../public/images/landscape.jpg */